@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.cursor-pointer {
  position: relative;
}

.cursor-pointer::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* Ajustez selon l'espacement souhaité */
  width: 100%;
  height: 2px; /* Épaisseur du trait */
  background-color: transparent;
  transition: background-color 0.3s ease;
}

/*.cursor-pointer:hover::after {
  background-color: blue; /* Couleur du trait au survol */

